@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black text-black dark:text-white font-noto;
}

h1 {
  @apply font-bold font-lora text-3xl;
}

nav a {
  @apply focus-visible:outline focus-visible:outline-1 focus-visible:outline-primary focus-visible:-outline-offset-1 rounded-md;
}
ul li a {
  @apply focus-visible:outline focus-visible:outline-1 focus-visible:outline-primary focus-visible:outline-offset-4 rounded-md;
}
.projects a {
  @apply focus-visible:outline focus-visible:outline-1 focus-visible:outline-primary focus-visible:outline-offset-0 rounded-md;
}

.container-loader {
  --uib-size: 35px;
  --uib-color: #ee424288;
  --uib-speed: 1s;
  --uib-stroke: 3.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.9);
}

.bar-loader {
  width: var(--uib-stroke);
  height: 100%;
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}

.bar-loader:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45) infinite;
}

.bar-loader:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3) infinite;
}

.bar-loader:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15) infinite;
}

.bar-loader:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }
}
